.p-b-7 {padding-bottom: 7px;}
.flex-w,
.flex-c,
.flex-col-c-m{
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}
.flex-w {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.flex-c {
	justify-content: center;
}
.flex-col-c-m {
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}

.flex-col-c-m,
.flex-col {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

