<!DOCTYPE html>
<html lang="tr" class="loading"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
  
<head th:replace="admin-template :: head"></head>
  <body data-col="2-columns" class=" 2-columns ">
    <div class="wrapper">
      <!--.main-menu(class="#{menuColor} #{menuOpenType}", class=(menuShadow == true ? 'menu-shadow' : ''))-->
        <div th:replace="admin-template :: sidebar"></div>
      <!-- / main menu-->

      <div class="main-panel">

        <!-- Navbar (Header) Starts-->
          <nav th:replace="admin-template :: header" class="navbar navbar-expand-lg navbar-light bg-faded"></nav>

        <!-- Navbar (Header) Ends-->

        <div class="main-content">
          <div class="content-wrapper"><!--Statistics cards Starts-->
              <div th:replace="admin-template :: messages"></div>
              <div class="row">
                  <div class="col-3">
                      <div class="card">
                          <div class="card-header">
                              <p style="font-size: medium; font-weight: bold" class="card-title">Makaleler</p>
                          </div>
                          <div class="card-body" style="overflow-y: auto; overflow-x: hidden; max-height:300px; height: auto!important;">
                              <table class="table table-responsive-sm text-center">
                                  <thead>
                                  <tr>
                                      <th>Kategori</th>
                                      <th>Başlık</th>
                                      <th>Action</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                      <tr th:each="post : ${posts}">
                                          <td th:text="${post.getCategory().getName()}"></td>
                                          <td th:text="${post.getTitle()}"></td>
                                          <td>
                                              <a href="#" class="success p-0" data-original-title="" title="Edit">
                                                  <i class="ft-edit-2 font-medium-3 mr-2"></i>
                                              </a>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
                  <div class="col-9">
                      <div class="card"
                           style="padding-bottom: 10px;"
                           th:if="${emptyForm != null}">
                          <form class="form"
                                id="form"
                                action="#" th:object="${emptyForm}" method="post">
                              <div class="card-header">
                                  <p>
                                      <button type="submit"
                                         style="float: right; margin: 0px; color: white; border: none;"
                                         class="btn gradient-harmonic-energy">
                                          Yayınla
                                      </button>
                                  </p>
                              </div>
                              <div class="card-body">
                                  <div class="px-3">

                                          <div class="form-body">
                                              <div class="row">
                                                  <div class="col-md-12">
                                                      <div class="form-group">
                                                          <label for="categorySelect">Kategori</label>
                                                          <select th:field="*{categoryId}" id="categorySelect" name="category" class="form-control" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Priority">
                                                              <option value="0" disabled="disabled" selected="selected" >Seçim Yapınız !</option>
                                                              <option th:each="ctg : ${categories}"
                                                                      th:value="${ctg.getId()}"
                                                                      th:text="${ctg.getName()}"></option>
                                                          </select>
                                                      </div>
                                                  </div>
                                              </div>
                                              <div style="margin-bottom: 0px;" class="form-group">
                                                  <label for="basicTextarea">Makale</label>
                                                  <textarea th:field="*{body}" id="basicTextarea" name="article" rows="6" required class="form-control"></textarea>
                                              </div>
                                              <div class="row"
                                                   style="margin: 0px; padding: 5px; background-color: silver; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                                                  <p style="margin: 0px; font-size: small">
                                                      <span id="articleinfo" style="float: right">5000 kelime 5000karakter</span>
                                                  </p>
                                              </div>
                                          </div>

                                  </div>
                              </div>
                          </form>

                      </div>
                      <div class="card"
                           style="padding-bottom: 10px;"
                           th:if="${emptyForm == null}">
                          <form class="form"
                                id="form1"
                                th:action="@{'/admin/article/edit/' + ${selectedarticle.getId()}}" th:object="${selectedarticle}" method="post">

                              <div class="card-header">
                                  <p>
                                      <button type="submit"
                                              style="float: right; margin: 0px; color: white; border: none;"
                                              class="btn gradient-harmonic-energy">
                                          Güncelle
                                      </button>
                                  </p>
                              </div>
                              <div class="card-body">
                                  <div class="px-3">

                                      <div class="form-body">
                                          <h4 class="form-section">
                                              <i class="ft-info"></i> <span th:text="${selectedarticle.getCategory().getName()}"></span> Makalesi
                                          </h4>
                                          <div style="margin-bottom: 0px;" class="form-group">
                                              <label for="basicTextarea">Makale</label>
                                              <textarea th:field="*{article}" name="article" id="basicTextarea" rows="6" required class="form-control"></textarea>
                                          </div>
                                          <div class="row"
                                               style="margin: 0px; padding: 5px; background-color: silver; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
                                              <p style="margin: 0px; font-size: small">
                                                  <span id="articleinfo" style="float: right">5000 kelime 5000karakter</span>
                                              </p>
                                          </div>
                                      </div>

                                  </div>
                              </div>
                          </form>

                      </div>
                  </div>
              </div>
          </div>
        </div>


      </div>
    </div>
    <script th:src="@{/vendors/js/core/jquery-3.2.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/vendors/js/core/popper.min.js}" type="text/javascript"></script>
    <script th:src="@{/vendors/js/core/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/vendors/js/perfect-scrollbar.jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/vendors/js/prism.min.js}" type="text/javascript"></script>
    <script th:src="@{/vendors/js/jquery.matchHeight-min.js}" type="text/javascript"></script>
    <script th:src="@{/vendors/js/screenfull.min.js}" type="text/javascript"></script>
    <script th:src="@{/vendors/js/pace/pace.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/app-sidebar.js}" type="text/javascript"></script>
    <script th:src="@{/js/notification-sidebar.js}" type="text/javascript"></script>
    <script th:src="@{/js/customizer.js}" type="text/javascript"></script>
    <script th:src="@{/vendors/js/datatable/datatables.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/data-tables/datatable-styling.js}" type="text/javascript"></script>
    <script src="https://cdn.ckeditor.com/4.11.4/full/ckeditor.js"></script>

    <script>
        CKEDITOR.replace('basicTextarea');
        $("#form").submit( function(e) {

            var messageLength = CKEDITOR.instances['basicTextarea'].getData().replace(/<[^>]*>/gi, '').length;

            if ( $('#categorySelect').val() === null ){
                alert( 'Kategori seçmelisiniz !' );
                e.preventDefault();
                return;
            }

            if( !messageLength ) {
                alert( 'Makale kısmını boş bırakamazsınız !' );
                e.preventDefault();
                return;
            }
        });

        $("#form1").submit( function(e) {

            var messageLength = CKEDITOR.instances['basicTextarea'].getData().replace(/<[^>]*>/gi, '').length;

            if( !messageLength ) {
                alert( 'Makale kısmını boş bırakamazsınız !' );
                e.preventDefault();
                return;
            }
        });

        timer = setInterval(updateDiv,1000);
        function updateDiv(){
            var editorText = CKEDITOR.instances['basicTextarea'].getData();
            var charlength = editorText.length;
            var wordlength = editorText.split(' ').length;
            $('#articleinfo').text(charlength + ' Karakter - ' + wordlength + ' Kelime');
        };
    </script>

  </body>

</html>