<!DOCTYPE html>
<html class="brk-preloader" lang="en" data-brk-skin="brk-blue.css"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="visitor-template :: head"></head>
<body>
	<div class="main-wrapper">
		<main class="main-container">
			<section class="">
				<div class="container-fluid">
					<div class="row row-no-gutter">
						<div class="col-12 col-lg-5 d-lg-block d-none">
							<div class="full-screen position-relative d-flex flex-column justify-content-center align-items-center z-index-2">
								<div class="brk-backgrounds brk-base-bg-gradient-15 brk-abs-overlay" data-brk-library="component__backgrounds_css,component__backgrounds_js,assets_particleground">
									<div class="brk-backgrounds__canvas brk-particles-standart"></div>
								</div>
								<a th:href="@{/}" class="z-index-2 mb-60 pl-15 pr-15">
									<img th:src="@{/visitor/img/login-logo.png}" alt="logo" class="">
								</a>
								<a th:href="@{/}" class="btn-backgrounds btn-backgrounds_transparent btn-backgrounds_left-icon font__family-montserrat font__weight-normal text-uppercase font__size-13 z-index-2 text-center" style="padding-left:85px; padding-right: 60px;" data-brk-library="component__button">
									<span class="text">Anasayfa Geri Dön</span>
									<span class="before">
										<i class="fas fa-arrow-left"></i>
									</span>
								</a>
							</div>
						</div>
						<div class="col-12 col-lg-7">
							<div class="full-screen d-flex align-items-center pt-30 pb-30 pt-lg-0 pb-lg-0">
								<div class="container-fluid">
									<div th:replace="visitor-template :: messages"></div>

									<div class="row justify-content-lg-start justify-content-center">
										<div class="col-lg-2 d-none d-lg-block"></div>
										<div class="col-12 col-lg-10">
											<h1 class="font__family-montserrat font__weight-bold font__size-42 line__height-42 mt-0 mb-45 text-center text-lg-left">GİRİŞ YAP</h1>
											<form th:action="@{/login}" method="post" class="brk-form brk-form-strict maxw-570 mx-auto mx-lg-0" data-brk-library="component__form">
												<input name="email" id="email" required type="email" placeholder="Mail adresiniz">
												<input name="password" id="password" required type="password" placeholder="Şifreniz">
												<div class="d-flex flex-wrap justify-content-between align-items-center flex-column flex-lg-row">
													<button type="submit" class="btn-backgrounds btn-backgrounds btn-backgrounds_280 btn-backgrounds_white btn-backgrounds_left-icon font__family-montserrat font__weight-bold text-uppercase font__size-13 z-index-2 text-center letter-spacing-20 mt-10" data-brk-library="component__button">
														<span class="text">Haydi Başlayalım</span>
														<span class="before">
															<i class="far fa-hand-point-right"></i>
														</span>
													</button>
													<a th:href="@{/registration}" class="btn-backgrounds btn-backgrounds btn-backgrounds_280 btn-backgrounds_white font__family-montserrat font__weight-bold text-uppercase font__size-13 z-index-2 text-center letter-spacing-20 mt-10" data-brk-library="component__button">
														<span class="text">KAYIT OL GERİDE KALMA</span>
														<span class="before">
															<i class="fas fa-user"></i>
														</span>
													</a>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div><a href="#top" id="toTop"></a>
	<script th:src="@{/visitor/js/scripts.js}"></script>
</body>

</html>