<!DOCTYPE html>
<html class="brk-preloader" lang="en" data-brk-skin="brk-blue.css"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns="http://www.w3.org/1999/xhtml">

<head th:replace="visitor-template :: head"></head>

<div th:replace="visitor-template :: chat"></div>

<body class="brk-bordered-theme" data-border="30">
	<style>.brk-button-shadow{-webkit-box-shadow:0 5px 16px rgba(39,117,255,.5) !important;-moz-box-shadow:0 5px 16px rgba(39,117,255,.5) !important;box-shadow:0 5px 16px rgba(39,117,255,.5) !important;  margin:20px !important}@media (min-width: 992px) {.custom-tabbed-contents-mt {margin-top: -140px;}}</style>
	<div class="main-page">
		<div th:replace="visitor-template :: mobile-header"></div>

		<header th:replace="visitor-template :: header"></header>
		<h1 class="sr-only">SMM PANEL</h1>
	<div class="breadcrumbs__section breadcrumbs__section-thin brk-bg-center-cover lazyload" data-bg="img/1920x258_1.jpg" data-brk-library="component__breadcrumbs_css"><span class="brk-abs-bg-overlay brk-bg-grad opacity-80"></span>
		<div class="breadcrumbs__wrapper">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-12 col-lg-6">
						<div class="d-flex justify-content-lg-end justify-content-start pr-40 pr-xs-0 breadcrumbs__title">
							<h2 class="brk-white-font-color font__weight-semibold font__size-48 line__height-68 font__family-montserrat">İPTAL VE İADE KOŞULLARI</h2>
						</div>
					</div>
					<div class="col-12 col-lg-6">
						<div class="pt-25 pb-35 position-static position-lg-relative breadcrumbs__subtitle">
							<h3 class="brk-white-font-color font__family-montserrat font__weight-medium font__size-18 line__height-21 text-uppercase mb-15">LÜTFEN DİKKATLE OKUYUN</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="main-wrapper">
		<main class="main-container mb-70 mt-md-50">
			<section>
				<div class="container">
					<div class="brk-tabs brk-tabs-bottom-top" data-hash="true" data-brk-library="component__tabs">
                        1. Tüketici, kendisi ve satın almak istediği ürün/hizmet hakkındaki bilgileri doğru ve eksiksiz vermek durumundadır. Tüketici hizmet kalitesinden en iyi şekilde yaralanmak için sözleşmenin kendisine yüklemiş olduğu tüm yükümlülükleri eksiksiz yerine getirmelidir.<br><br>

                        2. Tüketici, kullanım sözleşmesinde öngörülen ödeme planına uygun ve öngörülen zamanda ödemesini yerine getirmek durumundadır.<br><br>

                        3. Tüketici, ürünü teslim aldığı anda kontrol etmek ve vakit geçirmeden üründeki kusuru bildirmek yükümlüğü altındadır.<br><br>

                        <h3>ÖDEME</h3>

                        1. İşbu sözleşmeye konu internet sitesinden verilen siparişlere ilişkin ödemeler Bankalara ait Visa, Master ve Diners Kartları ile gerçekleştirilebilmektedir.Para transferi ve benzeri satın alma yolları için tüketici doğrudan Şirketimiz ile sipariş mail adresinden, canlı destekten ya da ödeme bildirimleri sayfasından temas kuracaktır. Siparişlerin işleme alınma zamanı, siparişin verildiği an değil, kredi kartı hesabından sipariş tutarı kadar para blokesinin yapıldığı yada Şirketimiz 'in hesaplarına ulaştığının belirlendiği andır.<br><br>

                        2. Tüketici, işbu sözleşemeye konu Site’ yi ve hizmetleri kullanmak için gereken ücretleri ve uygun düşen tüm vergileri ödemekle yükümlüdür.
                        <br><br>
                        3. Kredi kartı işlemlerinde bilgi nakli Şirketimiz tarafından SSL olarak güvenli bağlantı ile sağlanacaktır. Tüketicinin kredi kartı ödemesi ve provizyonu otomatik olarak SANALPOS sistemi ile sağlanacaktır. Mücbir nedenler dışında Şirketimiz tarafından tahsil edilen miktarın geriye ödenmesi söz konusu değildir.<br><br>

                        6. Tüketicinin satın aldığı ürünlere dair yapacağı ödemenin kredi kartının veya banka hesabının provizyonu akabinde başarılı sonuçlanması ile Şirketimiz’ in tüketicinin siparişini yerine ulaştırma yükümlülüğü doğacaktır.<br><br>

                        7. Şirketimiz sunmakta olduğu hizmetlerin bir kısmını veya tümünü, uygulamakta olduğu ücret politikasını her zaman değiştirme hakkına sahiptir. Ücret politikası ile ilgili değişiklikler, duyurusunun Site’de yayımlanmasıyla beraber, eş zamanlı olarak etkinleşmiş olacaktır.<br><br>
                        
                        8. Sosyal Trend ve uygulamalarına yüklenen her bakiye veya kredi ya da herhangi bir ödeme Sosyal Trend ve uygulamaları tarafından geri ödeme yapılamaz, ancak Sosyal Trend ve uygulamaları yöneticileri gerekli gördüğünde geri ödemelerini gerçekleştirmektedir. Sosyal Trend ve uygulamalarına yüklenen bakiyeler veya Sosyal Trend ve uygulamalarına yapılan ödemeler sadece ve sadece Sosyal Trend ve uygulamalarında kullanılabilir.<br><br>
                        
                        9.  Instagram/Twitter/Facebook vb. gibi sosyal medya platformlarının ne zaman güncelleme yapabileceği kestirilememektedir bundan dolayı, herhangi bir düşüş yaşanması halinde servis sağlayıcısı telafi yapmadığı sürece iade yapılamaz. <br><br>
                        
                        10.  Sosyal Trend uygulamalarının yöneticilerine ve çalışanlarına karşı yapılacak hakaret veya kötüye kullanım tespit edilirse üyeliklerine yapıldığı ödemelere, bakiyelere ve kredilere el konulur ve Sosyal Trend ve uygulamaları gönderilen takipçi veya beğeni işlemlerinin geri alınma hakkını gizli tutar. <br><br>
                        
                        11.  Sosyal Trend ve uygulamaları altında çalıntı kredi kartı ya da farklı yöntemleri ile başkasının adına ödeme yapan kişilerin hesapları nedeni belirtilmeksizin kapatılacaktır. <br><br>
                        
                        12.  Siparişler sisteme girildikten sonra iptal/iade talebiniz kabul edilmeyecektir. Eğer sipariş tamamlanmazsa/kısmen tamamlanırsa sistem otomatik olarak geri ödeme yapacaktır. <br> <br>
                        
                        13.  Sosyal Trend üzerinde bulunan uygulamalarda kaydı olan her müşteri, yukarıda bulunan kuralları ve koşulları kabul etmiş olur ve şikayetçi olamaz, hak talep edemezler. <br><br>
                        
                        14.  Sosyal Trend bildirimde bulunmaksızın kullanım sözleşmesini değiştirme hakkını saklı tutar.               
						
					</div>
				</div>
			</section>
		</main>
	</div>
    </div>
	<footer th:replace="visitor-template :: footer"></footer>
    <a href="#top" id="toTop"></a>
	<script th:src="@{/visitor/js/scripts.js}"></script>
</body>

</html>